body {
    background-color: #ceb4a9;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px; /* horizontal only */
    row-gap: 0; /* no space above footer */
    margin: 50px;
    padding: 0;
    min-height: 100vh;
}

.gallery {
    font-size: 25px;
    font-weight: 700;
    color: #ceb4a9;
    background-color: #2c2c2c;
}

.gallery h4 {
    text-align: center;
}

.opening {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

aside {
    background-color: #cda174;
    width: 300px;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    border: 2px solid #2c2c2c;
}

#contactForm {
    font-size: 30px;
    font-weight: 700;
    background-color: #a87883;
    color: black;
    padding: 12px 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 3px solid black;
}

#contForm {
    background-color: #640f28;
    color: #ceb4a9;
    flex: 1;
    text-align: center;
    font-weight: 900;
    padding: 20px;
    font-size: 30px;
}

input {
    background-color: #ceb4a9;
    height: 30px;
    width: auto;
}

.submitBut {
    height: 60px;
    width: 100px;
    font-size: 25px;
    font-weight: 700;
}

.fooTer {
    width: 100%;
    background-color: #ceb4a9;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px; /* prevent accidental spacing */
    font-size: 25px;
    border: 5px solid #640f28;
}
